langchain==0.0.154
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.18.1
faiss-cpu==1.7.4
altair<5
transformers==4.10.0
torch
PyPDF2
cv2
os
datetime
BaseModelConfigs
typing
numpy
residual_block
OnnxInferenceModel
ctc_decoder
get_cer
tensorflow
EarlyStopping
ModelCheckpoint
ReduceLROnPlateau
TensorBoard
ImageReader
ImageResizer
LabelIndexer
LabelPadding
ImageShowCV2
RandomBrightness
RandomRotate
RandomErodeDilate
RandomSharpen
CVImage
DataProvider
CTCloss
Model2onnx 
TrainLogger
CWERMetric
train_model
ModelConfigs
tarfile
tqdm
urlopen
BytesIO
ZipFile
